[core]
  editor = vim
  pager = diff-so-fancy | less --tabs=4 -RFX
  excludesfile = /Users/nate/.gitignore
[user]
  name = Nathaniel Inman
  email = nate@theoestudio.com
[push]
  default = simple
[alias]
  lol = log --graph --date=local --pretty=format:'%C(yellow)%h%Creset %cd %C(yellow)(%Creset%C(green)%an%Creset%C(yellow))%Creset %s%C(cyan)%d%Creset'
[pull]
  rebase = false
