/** Basic config file **/

configuration {
  modi:       "window,drun,ssh";
  show-icons: true;
  font:       "PragmataPro 12";
  icon-theme: "Papirus";
}
@theme "/home/nate/.local/share/rofi/themes/rounded-nord-dark.rasi"
